{{/*
This file is part of SystemTestPortal.
Copyright (C) 2017  Institute of Software Technology, University of Stuttgart

SystemTestPortal is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

SystemTestPortal is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with SystemTestPortal.  If not, see <http://www.gnu.org/licenses/>.
*/}}

{{define "modal-member-remove"}}
<div class="modal fade" id="modal-member-remove" tabindex="-1" role="dialog" aria-labelledby="modal-member-remove-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-member-assignment-label">{{T "Select members to remove" .}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body" id="member-assignment">
            {{if .DangerousUserNames}}
                <p>{{T "Users in red have active assignments" .}}</p>
            {{end}}
            {{ $owner := .Project.Owner}}
            {{range .Members }}
                {{ if ne .User $owner }}
                <div class="form-check checkbox-list-element">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input removeMemberSelector" id="{{ .User }}" name="{{ .User }}">
                        <label class="custom-control-label" for="{{ .User }}" id="{{.User}} remove-modal-label">{{ .User }}</label>
                    </div>
                </div>
                {{ end }}
            {{end}}
            </div>
            <div class="modal-footer">
                <button id="buttonRemoveMember" type="button" class="btn btn-primary">{{T "Remove member" .}}</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{T "Close" .}}</button>
            </div>
        </div>
    </div>
</div>
{{end}}